@model DataAccessLayer.Models.Book

@{
    ViewBag.Title = "Delete";
}
<div class="container cter">
<h3>Are you sure you want to delete @Model.Title</h3>


    @using (Html.BeginForm("Delete","Books",FormMethod.Post, new {@class="inline" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color inline">
            <input type="submit" value="Yes! Delete" class="btn btn-danger inline" />
        </div>
    }
    <button id="btn" class="btn btn-success inline">No</button>
</div>
<style>
    .cter{
        margin-bottom:5px;
    }
</style>
<script>
    btn.onclick = function () {
        $("#action").modal("hide");
    }
</script>