body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.list-cont{
    text-align:center !important;
}

.dl-horizontal dt {
    white-space: normal;
}
.drop{
    display:inline-block;
}

input,
select,
textarea {
    max-width: 600px;
}

.hidden{
    display:none;
}
.inline{
    display:inline-block;
}
.form-custom{
    display:inline-block;
}
.image-grid{
    height:9.5em;
    width:6em;
    display:inline-block;
    margin-left:17px;
    margin-bottom:3px;
}
.image-list{
    height:9.5em;
    width:6em;
    display:inline-block;
}

#container {
   min-height:100%;
   position:relative;
}
body {
   margin:0;
   padding:0;
   height:100%;
}
#body {
   padding:10px;
}

.search{
    width:25em;
    display:inline-block;
}
.input{
    width:100%;
}
.flex{
    flex-wrap:wrap;
    display:flex;
    flex-direction:row;
}

.item{
    display:block;
    margin-bottom:2em;
    margin-left:1em;
    background-color:#F28123;
}

.book-del{
    position: absolute;
    top: 8px;
    right: 16px;
    display:none;
    margin-top:5px;
    margin-right:2px;
}
.thumbnail:hover .book-del{
    display:block;
}

#Content:hover .book-del{
    display:block;
}

.Listimage{
    margin:auto,auto;
}

.glyphicon {
     margin-right:5px;

}
.thumbnail
{
    background-color:white;
    margin-bottom: 20px;
    padding: 0px;
    height:100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    background-color: #273469;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #30343F;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    width:100%;
    padding: 9px 9px 9px 9px;
    display:inline-block;
    display:flex;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #6e80ce;
}
.context 
{
    float:left;
    padding-left:15px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.flex .item {
    flex: 1;
    min-width: 400px;
    max-width: 700px;
    height: 200px;
    overflow: hidden;
}

.under{
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin-top:5px;
    margin-right:2px;
}

.info{
    margin-top:10px;
    margin-left:25px;
    font-size:medium;
    color:black;
}


.title {
  padding: 1%;
  border-radius: 5px;
  }

#body{
    min-height:100%;
    background-color: #FAFAFF;
    color:#38726C;
}

.navi{
    background-color:#30343F;
}

html{
    height:100%;
    width:100%;
}
.body{
    min-height: 100%;
    margin-bottom: -30px;
}
#footer{
    height:30px;
}
.push{
    height: 60px;
}

.Review_input{
    height: 6em;
    width: 100% !important;
}

.Review_section{
    margin-left:30px;
}

.Review{
    margin-top:10px;
    width:80%;
    box-shadow:-7px 5px 25px #dddddd;
    display:inline-block;
    border-radius: 10px;
    padding-left:10px;
}

.space{
    height:40px;
}

.Review:hover{
    box-shadow:-20px 10px 12px #dddddd ;
}

.Review_Text {
    resize: none;
    width: 65%;
    height: auto;
    margin-bottom:15px;
}
